.ftco-footer {
  font-size: 16px;
  padding: 6em 0 0 0;
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.7);

  .logo {
    text-transform: uppercase;

    a {
      position: relative;

      span {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .ftco-footer-widget {
    h2 {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 400;
    }

    ul {
      li {
        margin-bottom: 10px;

        a {
          color: rgba(255, 255, 255, 0.5);

          span {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
          }
        }
      }
    }

    .btn-primary {
      background: $white !important;
      border: 2px solid $white !important;

      &:hover {
        background: $white;
        border: 2px solid $white !important;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, 0.9);
  }

  a {
    color: $white;

    &:hover {
      color: $primary;
    }
  }
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;

    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: $primary;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: $white;
      }
    }
  }
}

.footer-small-nav {
  > li {
    display: inline-block;

    a {
      margin: 0 10px 10px 0;

      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }
}

.wpcf7 {
  .news-letter-form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      display: inline-block;
      margin: 0;

      &.email-field {
        max-width: 67%;
        width: 100%;

        & > label,
        & > label input {
          max-width: 100%;
          width: 100%;
        }
      }

      .ajax-loader {
        margin: 0 2px;
        background-color: #fff;
        height: auto;
      }

      .wpcf7-submit {
        background-color: #b7472a;
        color: #fff;
        border-color: transparent;
        margin: 0 0 0 5px;
      }
    }

    .wpcf7-response-output {
      width: 100%;
      margin: 0;
    }
  }
}
