img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.spinner {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #858585;
  position: relative;
  animation: spin 1s infinite;
  opacity: 0;

  &::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #858585;
    top: 0;
    position: absolute;
  }
}

.hero-wrap {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
  height: 750px;

  @include media-breakpoint-down(lg) {
    background-position: center center !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.4;
    background: $black;
  }

  .slider-text {
    height: 750px;
    position: relative;

    .text {
      padding: 30px 0;
      // border-top: 1px solid rgba(255,255,255,.2);
      // border-bottom: 1px solid rgba(255,255,255,.2);
      transform: rotate(-4deg);
    }

    h1 {
      font-size: 80px;
      color: $white;
      line-height: 1.1;
      font-weight: 700;
      // text-transform: uppercase;
      font-style: italic;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $white;

      span {
        color: $primary;
        -webkit-text-fill-color: $white;
        -webkit-text-stroke-width: 0;
      }

      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  &.hero-wrap-2 {
    height: 400px !important;
    position: relative;

    .overlay {
      width: 100%;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: 0.3;
    }

    .slider-text {
      height: 400px !important;

      .breadcrumbs {
        font-size: 14px;
        margin-bottom: 20px;
        z-index: 99;
        text-transform: uppercase;
        font-weight: 500;

        span {
          color: rgba(255, 255, 255, 0.7);

          i {
            color: rgba(255, 255, 255, 0.5);
            font-size: 13px;
          }

          a {
            color: rgba(255, 255, 255, 0.7);

            &:hover,
            &:focus {
              color: $primary;

              i {
                color: $primary;
              }
            }
          }
        }
      }

      .bread {
        position: relative;
        font-size: 60px;
        color: $white;
        line-height: 1.1;
        font-weight: 400;
      }
    }
  }
}

//OWL CAROUSEL
.owl-carousel {
  position: relative;

  .owl-item {
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      color: $primary !important;

      @include transition(0.7s);

      span {
        &::before {
          font-size: 30px;
        }
      }

      opacity: 0;
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: lighten($black, 90%);
      position: relative;

      &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid lighten($black, 90%);

        @include border-radius(50%);
      }

      &.active {
        background: lighten($black, 70%);
      }
    }
  }

  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }

      .owl-prev {
        left: -25px;
      }

      .owl-next {
        right: -25px;
      }
    }
  }
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
  border: 1px solid red;

  .owl-custom-prev,
  .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
  }
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bg-light {
  background: #f5f4f0 !important;
}

.bg-primary {
  background: $primary;
}

//BUTTON
.btn {
  cursor: pointer;

  @include border-radius(3px);

  box-shadow: none !important;
  font-size: 15px;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    color: $white !important;

    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
    }

    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;

      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }

  &.btn-white {
    background: $white !important;
    border: 1px solid $white !important;
    color: $black !important;

    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
    }

    &.btn-outline-white {
      border: 1px solid lighten($white, 92%) !important;
      background: transparent !important;
      color: $white !important;

      &:hover {
        border: 1px solid $primary !important;
        background: $primary !important;
        color: $white !important;
      }
    }
  }
}

//INTRO
.ftco-intro {
  background: $primary;

  .intro {
    z-index: 0;
    position: relative;
  }
}

.intro {
  width: 100%;
  background: $primary;
  padding: 30px;

  &.color-1 {
    background: darken($primary, 3%);
  }

  &.color-2 {
    background: darken($primary, 5%);
  }

  .icon {
    margin-right: 20px;

    span {
      font-size: 60px;
      color: $white;
    }
  }

  .text {
    color: rgba(255, 255, 255, 0.8);

    h2 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
    }
  }
}

/////////////////////////////
.form-control {
  height: 52px !important;
  background: $white !important;
  color: $black !important;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: none !important;

  &:focus,
  &:active {
    border-color: $black;
  }
}

textarea.form-control {
  height: inherit !important;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background: $primary !important;
}

.bg-black {
  background: $black;
}

//ABOUT
.img-3 {
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
}

.wrap-about {
  .year {
    font-size: 30px;
    color: $black;

    strong {
      font-style: italic;
      color: $primary;
    }
  }
}

//KINDS OF LIQUOR
.sort {
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  .img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      content: '';
      border: 1px solid $primary;
      z-index: -1;
      border-radius: 50%;

      @include transition(0.6s);
    }

    &:hover {
      &::after {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-color: rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
  }
}

//BLOG SINGLE
.about-author {
  .desc {
    h3 {
      font-size: 24px;
    }
  }
}

.ftco-section {
  padding: 6em 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 6em 0;
  }
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.media {
  .ftco-icon {
    width: 100px;

    span {
      color: $primary;
    }
  }
}

.ftco-media {
  background: $white;
  border-radius: 0;

  .heading {
    font-weight: normal;
  }

  &.ftco-media-shadow {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    transition: 0.2s all ease;
    position: relative;
    top: 0;

    &:hover,
    &:focus {
      top: -3px;
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
    }
  }

  .icon {
    font-size: 50px;
    display: block;
    color: $primary;
  }

  &.text-center {
    .ftco-icon {
      margin: 0 auto;
    }
  }
}

.heading-section {
  .subheading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    color: $primary;
    font-weight: 400;
    font-style: italic;
    position: relative;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  &.heading-section-white {
    .subheading {
      color: rgba(255, 255, 255, 0.9);
    }

    h2 {
      font-size: 40px;
      color: $white;
    }

    p {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

//COVER BG
.img,
.img-2,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

//TESTIMONY
.testimony-section {
  position: relative;
  z-index: 0;
  background-position: center center !important;
  background-attachment: fixed;

  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: $black;
    opacity: 0.7;
  }

  .owl-carousel {
    margin: 0;
  }

  .owl-carousel .owl-stage-outer {
    padding: 1.5em 0 2em 0;
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;

      @include transition(0.3s);

      span {
        &::before {
          font-size: 30px;
          color: rgba(0, 0, 0, 0.5);

          @include transition(0.3s);
        }
      }

      &:hover,
      &:focus {
        span {
          &::before {
            color: $white;
          }
        }
      }

      opacity: 0;
    }

    .owl-prev {
      left: 50%;
      margin-left: -80px;
    }

    .owl-next {
      right: 50%;
      margin-right: -80px;
    }
  }

  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }

      .owl-prev {
        left: 50%;
        margin-left: -80px;
      }

      .owl-next {
        right: 50%;
        margin-right: -80px;
      }
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);

      &.active {
        background: $primary;
      }
    }
  }
}

.testimony-wrap {
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 30px 33px -41px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 30px 33px -41px rgba(0, 0, 0, 0.24);
  box-shadow: 0 30px 33px -41px rgba(0, 0, 0, 0.24);

  .text {
    p {
      font-style: italic;
    }
  }

  .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $primary;

    span {
      color: $white;
    }
  }

  .user-img {
    width: 80px;
    height: 80px;
    position: relative;

    @include border-radius(50%);
  }

  .name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    color: $white;
    font-style: normal !important;
  }

  .position {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.about-image {
  @include media-breakpoint-down(sm) {
    height: 400px;
    margin-bottom: 30px;
  }
}

// magnific pop up

.image-popup {
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#section-counter {
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 0;
    background: $black;
  }
}

.ftco-counter {
  position: relative;
  z-index: 0;

  .overlay {
    position: absolute;
    width: 27%;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: $primary;
    z-index: -1;

    @include media-breakpoint-up(lg) {
      opacity: 0.3;
    }
  }

  .block-18 {
    text-align: center;
    padding: 0 20px;
  }

  .text {
    strong.number {
      font-weight: 500;
      font-size: 40px;
      color: $primary;
      font-style: italic;
    }

    span {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.2;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .counter-wrap {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}

//blocks
.block-23 {
  ul {
    padding: 0;

    li {
      color: rgba(255, 255, 255, 0.8);

      &,
      > a {
        display: table;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      span {
        color: rgba(255, 255, 255, 0.8);
      }

      .icon,
      .text {
        display: table-cell;
        vertical-align: top;
      }

      .icon {
        width: 40px;
        font-size: 18px;
        padding-top: 2px;
        color: $white;
      }
    }
  }
}

.block-6 {
  .media-body {
    p {
      font-size: 16px;
    }
  }
}

.block-27 {
  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 400;

      a,
      span {
        color: $primary;
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid lighten($black, 90%);
      }

      span.current {
        background: $primary;
        color: $white;
        border: 1px solid transparent;
      }
    }
  }
}

//CONTACT FORM
.wrapper {
  width: 100%;
}

.contact-wrap {
  background: $white;
}

.info-wrap {
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
}

.dbox {
  width: 100%;
  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 25px !important;
    padding: 0 20px;
  }

  p {
    margin-bottom: 0;

    span {
      font-weight: 500;
      color: $black;
    }

    a {
      color: $primary;
    }
  }

  .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $primary;
    margin: 0 auto;
    margin-bottom: 20px;

    span {
      font-size: 30px;
      color: $white;
    }
  }

  .text {
    width: 100%;
  }
}

.contactForm {
  .label {
    color: $primary !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }

  .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .form-control {
    height: 36px;
    background: $white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.5) !important;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.5) !important;
    }

    &:-ms-input-placeholder { /* IE 0+ */
      color: rgba(0, 0, 0, 0.5) !important;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0, 0, 0, 0.5) !important;
    }

    &:focus,
    &:active {
      border-color: $primary !important;
    }
  }

  textarea.form-control {
    height: inherit !important;
  }
}

#map {
  // height: 500px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    height: 300px;
  }
}

//### .block-21
.block-21 {
  .blog-img {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 4px;
  }

  .text {
    width: calc(100% - 70px);

    .heading {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 10px;

      a {
        color: $black;

        &:hover,
        &:active,
        &:focus {
          color: $primary;
        }
      }
    }

    .meta {
      > div {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;

        a {
          color: lighten($black, 70%);
        }
      }
    }
  }
}

/* Blog */
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.1em;

  > div {
    display: inline-block;

    .seperator {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
    }
  }
}

.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: $black;
    border: 1px solid #ccc;
    font-size: 11px;

    &:hover {
      border: 1px solid #000;
    }
  }
}

.comment-form-wrap {
  clear: both;

  .form-control {
    border: transparent;
    background: rgba(255, 255, 255, 1) !important;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: none !important;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.8);
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.8);
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(0, 0, 0, 0.8);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0, 0, 0, 0.8);
    }
  }

  textarea.form-control {
    height: inherit !important;
  }
}

.comment-list {
  padding: 0;
  margin: 0;

  .comment-reply-title {
    small {
      margin: 0 0 0 5px;
    }
  }

  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }

  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;

    .vcard {
      width: 80px;
      float: left;

      img {
        width: 50px;
        border-radius: 50%;
      }
    }

    .comment-body {
      float: right;
      width: calc(100% - 80px);

      h3 {
        font-weight: 500;
        font-size: 20px;
      }

      .meta {
        font-size: 15px;
        color: $primary;
      }

      .reply {
        padding: 5px 10px;
        background: lighten($black, 90%);
        color: $black;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.1em;
        font-weight: 400;
        border-radius: 4px;
        display: inline-block;

        &:hover {
          color: $white;
          background: lighten($black, 0%);
        }
      }
    }
  }
}

.search-form {
  .form-group {
    position: relative;

    input {
      padding-right: 50px;
      font-size: 14px;
    }
  }

  .fa {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

#ftco-loader.show {
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
