$font-primary: 'Spectral', serif;

$white: #fff;
$black: #000;
// $darken: #3a4348;

$primary: #b7472a;
$secondary: #01d28e;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  transition: all $transition ease;
}

html {
  // overflow-x: hidden;
}

body {
  font-family: $font-primary;
  background: $white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: lighten($black, 50%);

  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

a {
  transition: 0.3s all ease;
  color: $primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
    outline: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

.wrap {
  position: relative;
  z-index: 4;
  width: 100%;
  background: darken($primary, 5%);

  .phone {
    z-index: 1;
    font-weight: 200;

    span {
      color: rgba(255, 255, 255, 0.6);
    }

    a {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
    }
  }

  .reg {
    @include media-breakpoint-down(sm) {
      width: 50%;
      text-align: right;
    }

    ul {
      font-weight: 200;
      padding: 0;
      list-style: none;
      display: flex;

      li {
        position: relative;

        ul.sub-menu {
          display: none;
          position: absolute;
          z-index: 0;

          li {
            width: 100%;
            text-align: center;
            padding: 0 15px;

            a.dropdown-item {
              padding: 0.25rem 0;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }

        &:hover {
          ul.sub-menu {
            display: inline-block;
          }
        }

        &:not(:last-child) {
          margin-right: 0.5rem !important;
        }
      }

      a {
        color: rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
}

.social-media {
  display: inline-block;

  @include media-breakpoint-down(sm) {
    width: 50%;
  }

  p {
    display: block;
    width: 100%;

    a {
      height: 30px;
      margin-right: 10px;

      span {
        font-size: 12px;
        color: $white;
      }

      &:hover {
        background: $primary;
        border-color: $primary;

        span {
          color: $white;
        }
      }
    }
  }
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0 0;

  @include media-breakpoint-down(md) {
    background: $black !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }

  .navbar-brand {
    color: rgba(255, 255, 255, 0.8);

    span {
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      color: $white;
    }

    @include media-breakpoint-down(md) {
      color: $white;
    }
  }

  .btn-cart {
    display: inline-block;
    position: relative;

    span {
      font-size: 20px;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      height: 18px;
      line-height: 1;
      border-radius: 50%;
      padding: 0 5px;
      background: rgba(255, 255, 255, 0.2);

      small {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  ///////////////////////
  .btn-group {
    #total-items-wishlist,
    #total-items-compare,
    #total-items-cart {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      height: 18px;
      width: 100%;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      border: none;
      background: $white;
      -webkit-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
      padding: 0;
      min-width: 20rem;
      margin-top: 20px;

      @include media-breakpoint-down(sm) {
        right: -70px !important;
        // transform: translateX(-50%) !important;
      }

      &::after,
      &::before {
        content: ' ';
        display: block;
        border-style: solid;
        border-width: 0 0.5em 0.6em 0.5em;
        border-color: transparent;
        position: absolute;
        right: 12px;
        z-index: -1;

        @include media-breakpoint-down(sm) {
          right: 70px;
        }
      }

      &::before {
        top: -0.6em;
        border-bottom-color: rgba(0, 0, 0, 0.02);
      }

      &::after {
        top: -0.5em;
        border-bottom-color: #fff;
      }

      .woocommerce-mini-cart {
        padding: 0;

        .remove_from_cart_button {
          display: none;
        }
      }

      .woocommerce-mini-cart__empty-message {
        margin: 0;
        text-align: center;
        padding: 10px 0;

        + .view-all-cart {
          display: none !important;
        }
      }

      .dropdown-item {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 400;
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        white-space: normal;

        &:last-child {
          border: none;
        }

        .img {
          width: 60px;
          height: 60px;
          position: relative;
        }

        .text {
          width: calc(100% - 60px);

          h4 {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
          }

          a {
            display: inline;
            font-weight: normal;
          }

          .quantity {
            color: rgba(0, 0, 0, 0.4);
          }
        }

        &.btn-link {
          color: $primary;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }

  ////////////////////

  .navbar-nav {
    @include media-breakpoint-down(md) {
      padding-bottom: 10px;
    }

    > .nav-item {
      > .nav-link {
        font-size: 14px;
        padding: 1.5rem 20px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          color: $primary;
        }

        opacity: 1 !important;

        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
          color: $white;
        }
      }

      .dropdown-menu {
        border: none;
        background: $white;
        -webkit-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
      }

      &.ftco-seperator {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;

        @include media-breakpoint-down(md) {
          padding-left: 0;
          margin-left: 0;
        }

        &::before {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 2px;
          background: rgba($white, 0.05);

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &.cta {
        > a {
          color: $white;
          border: 1px solid $primary;
          padding: 0.5rem 19px;
          margin-top: 4px;
          background: $primary;

          @include border-radius(2px);

          span {
            display: inline-block;
            color: $white;
          }

          &:hover {
            background: $primary;
            border: 1px solid $primary;
          }
        }

        &.cta-colored {
          a {
            border: 1px solid $secondary;
            background: $secondary !important;
          }
        }
      }

      &.active {
        > a {
          color: $white;
        }
      }

      @include media-breakpoint-down(md) {
        &.active {
          > a {
            color: $primary;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary;
      outline: none !important;
    }
  }

  &.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: $white !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;

    .btn-cart {
      div {
        position: absolute;
        top: 0;
        right: -5px;
        height: 18px;
        line-height: 1;
        border-radius: 50%;
        padding: 0 5px;
        background: rgba(0, 0, 0, 0.1);

        small {
          color: $primary;
        }
      }
    }

    .nav-item {
      > .nav-link {
        @include media-breakpoint-down(md) {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      &.active {
        > a {
          color: $primary !important;
        }
      }

      &.cta {
        > a {
          color: $white !important;
          background: $primary;
          border: none !important;
          padding: 0.5rem 20px !important;
          margin-top: 6px !important;

          @include border-radius(5px);

          span {
            display: inline-block;
            color: $white !important;
          }
        }

        &.cta-colored {
          span {
            border-color: $primary;
          }
        }
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        background: none;
        border-radius: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.1em;
    }

    .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: $black !important;

      &.active {
        color: $primary !important;
      }
    }

    &.awake {
      margin-top: 0;
      transition: 0.3s all ease-out;
    }

    &.sleep {
      transition: 0.3s all ease-out;
    }

    .navbar-brand {
      color: $black;

      span {
        color: $primary;
      }
    }
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
}
