.sidebar-box {
  margin-bottom: 40px;
  font-size: 15px;
  width: 100%;
  background: $white;

  ul {
    padding: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.categories,
.sidelink {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray('300');
    list-style: none;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }

    a {
      display: block;
      color: lighten($black, 10%);

      span {
        position: absolute;
        right: 0;
        top: 7px;
        color: #ccc;
      }

      &:hover,
      &:focus {
        outline: none;
        color: $primary;
      }
    }

    &.active {
      a {
        color: $primary;

        span {
          color: $primary;
        }
      }
    }
  }
}
