@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tab-pane {
  margin: 15px 0;

  .chart-block {
    display: none;
  }

  .request-controls {
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    #covid-countries,
    #covid-countries + .select2-container {
      display: none;
    }

    .date-control {
      margin: 0 5px 0 0;

      label {
        margin: 0;
      }
    }
  }

  .privat-bank-request-result,
  .covid-request-result {
    width: 100%;
    display: none;

    tr {
      & > * {
        padding: 0 5px;
        border: 1px solid;
      }
    }
  }
}

.notifications {
  margin: 0 0 0 5px;

  .notification,
  .no-data-response {
    display: none;
  }
}

.select2-container {
  width: 200px !important;
  margin: 10px 0;
}

.field-offices-list-wrapper {
  text-align: center;

  .notifications {
    margin: 0 0 15px;
    display: flex;
    justify-content: center;
  }
}

.criminals-list-wrapper {
  ul.fugitives-list {
    display: flex;
    flex-wrap: wrap;

    .fugitive-info {
      display: inline-block;
      max-width: 32%;
      width: 100%;
      text-align: center;
      border: 1px solid #858585;
      margin: 0 1% 1% 0;

      .fugitive-photo {
        height: 400px;
        overflow: hidden;
      }

      .fugitive-reward {
        position: relative;
        margin: 0 0 10px;

        &::after {
          content: '';
          display: inline-block;
          width: 80%;
          height: 1px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  .pagination.page-numbers {
    justify-content: center;
    margin: 0 0 15px 0;

    & > li {
      margin: 0 10px 0 0;
      cursor: pointer;

      &.current {
        span {
          background-color: #b7472a;
          color: #fff;
        }
      }
    }
  }
}
