.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  z-index: -1;
}

.blog-entry {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  .img,
  .text {
    width: 50%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .img {
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }

  .text {
    position: relative;
    margin: 0 auto;
    z-index: 0;

    .heading {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: 500;
      font-style: italic;

      a {
        color: $black;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }
  }

  .meta {
    p {
      span {
        padding-right: 10px;
      }
    }
  }

  .btn-custom {
    color: $primary;
    font-style: italic;
    font-weight: 700;

    span {
      font-size: 12px;
    }
  }
}
