.team-member-info-block-wrapper {
  .team-member-image,
  .team-member-info {
    margin: 0 0 15px;
  }

  .team-member-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .team-member-info-block {
      .team-member-info-block-label {
        font-weight: bold;
      }
    }

    .team-member-location {
      max-width: 100%;
      width: 100%;
      text-align: center;
    }

    .separator {
      margin: 0 5px 0 0;
    }
  }
}
