.team-list-section {
  .team-list-wrapper {
    justify-content: center;

    .departments-list {
      list-style-type: none;
      padding: 0;
      max-width: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .department {
        cursor: pointer;
        border-radius: 3px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        font-size: 15px;
        font-weight: 500;
        padding: 6px 12px;

        &.active {
          background: #b7472a !important;
          border: 1px solid #b7472a !important;
          color: #fff !important;
        }
      }
    }
  }
}

.team-member {
  display: none !important;

  &.active {
    display: flex !important;
  }
}
