.shop-filters-block {
  .berocket_single_filter_widget {
    &:not(:last-child) {
      margin: 0 2% 0 0;
    }
  }
}

//PRODUCT
.product {
  width: 100%;
  display: block;
  margin-bottom: 40px !important;
  background-color: transparent;

  @include transition(0.3s);

  .img {
    display: block;
    border-radius: 4px;
    height: 350px;
    position: relative;

    @include transition(0.3s);

    z-index: 0;

    &::after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: $black;
      opacity: 0;
      border-radius: 4px;

      @include transition(0.6s);
    }

    .desc {
      @include transition(0.3s);

      opacity: 0;

      .meta-prod {
        position: relative;

        .ajax_add_to_cart {
          &::after {
            color: #b7472a;
          }
        }

        .added_to_cart {
          position: absolute;
          bottom: -100%;
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0;
          height: auto;

          &:hover {
            background-color: #b7472a;
            color: #fff;

            @include transition(0.3s);
          }
        }

        a {
          margin: 0 2px;
          display: inline-block;
          width: 60px;
          height: 60px;
          border: 1px solid rgba(255, 255, 255, 0.5);
          background-color: transparent;

          .fa-heart-o {
            color: #fff;
          }

          span {
            color: $white;
          }
        }
      }
    }
  }

  .text {
    padding: 20px;
    position: relative;

    .sale,
    .seller,
    .new {
      position: absolute;
      top: 0;
      left: 4px;
      font-size: 12px;
      padding: 0 10px;
      color: $white;
    }

    .sale {
      background: $primary;
    }

    .seller {
      background: #fe9801;
    }

    .new {
      background: #01d28e;
    }

    h2 {
      font-size: 22px;
      text-transform: capitalize;
      font-weight: 300;
    }

    .category {
      font-style: italic;
      color: $primary;
    }

    .price {
      font-style: italic;
      color: $black !important;
      font-size: 16px !important;

      &.price-sale {
        color: lighten($black, 80%) !important;
        text-decoration: line-through;
      }
    }
  }

  &:hover {
    -webkit-box-shadow: 0 10px 27px -21px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 27px -21px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 27px -21px rgba(0, 0, 0, 0.2);

    .img {
      &::after {
        opacity: 0.7;
      }

      .desc {
        opacity: 1;
      }
    }
  }
}

.product-select {
  font-size: 18px;
}

.bootstrap-select .bs-ok-default::after {
  color: $primary;
  font-size: 12px;
  margin-top: 5px;
}

ul.page-numbers {
  .ajax-pagination {
    cursor: pointer;
  }
}
