.wishlist_table {
  tr {
    td {
      text-align: left;
    }

    .product-price {
      .price-sale {
        color: lighten($black, 80%) !important;
        text-decoration: line-through;
      }
    }
  }
}
