//////////CART

.woocommerce-cart {
  .woocommerce {
    width: 100%;
  }
}

//.table-wrap {
//  @include media-breakpoint-down(xl) {
//    overflow-x: scroll;
//  }
//}

.table {
  min-width: 1000px !important;
  width: 100%;
  background: $white;
  -webkit-box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0 5px 12px -12px rgba(0, 0, 0, 0.29);
  border: none !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;

  thead {
    &.thead-primary {
      background: $primary;
      border-radius: 4px;
    }

    th {
      border: none;
      padding: 30px !important;
      font-size: 20px;
      font-weight: 500 !important;
      color: white;
    }

    th.product-mass-delete {
      font-size: 25px;
      width: 83px;
      height: 98px;

      span {
        cursor: pointer;
        display: none;

        & + .spinner {
          border-color: #fff;

          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }

  tbody {
    .actions-row {
      display: none;
    }

    tr {
      margin-bottom: 10px;
    }

    th,
    td {
      border: none;
      padding: 30px !important;
      background: $white;
      border-bottom: 4px solid #f8f9fd;
      vertical-align: middle;
    }

    td {
      .input-group {
        .input-group-btn {
          display: none;
        }
      }

      &.quantity {
        width: 10%;

        .quantity.form-control {
          border-radius: 5px;
          text-align: left;
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .img {
        width: 70px;
        height: 80px;
      }

      .email {
        max-width: 385px;

        span {
          display: block;

          &:first-child {
            font-weight: 500 !important;
            font-size: 20px;
            color: $black;
          }

          &:last-child {
            color: rgba(0, 0, 0, 0.3);
            display: inline-block;
          }
        }
      }

      .close {
        span {
          font-size: 12px;
          color: $danger;
        }
      }
    }
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "\f0c8";
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;

  @include transition(0.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap {
  input:checked ~ .checkmark::after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome", sans-serif;
    color: rgba(0, 0, 0, 0.2);
  }
}

/* Style the checkmark/indicator */

.checkbox-primary {
  color: $primary;

  input:checked ~ .checkmark::after {
    color: $primary;
  }
}

// CART TOTAL
.cart-wrap {
  .btn-primary {
    display: block;
    width: 100%;
  }
}

.cart_totals {
  width: 100% !important;

  .shop_table {
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;

    th {
      font-weight: 400 !important;
    }

    tr.woocommerce-shipping-totals {
      th {
        vertical-align: top;
      }
    }

    tr:not(.order-total) {
      th,
      td {
        border: none !important;
      }
    }

    tr.order-total {
      th {
        text-transform: uppercase;
      }

      td {
        color: #000;
        font-weight: 600;
      }
    }

    .shipping-calculator-form {
      .form-row {
        padding: 3px 0;
      }
    }
  }
}

.cart-total {
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 24px;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500 !important;
  }

  p,
  div {
    width: 100%;
    display: block;

    & > span:first-child {
      width: 60%;
    }

    span {
      display: block;
      width: 100%;
    }

    &.total-price {
      span {
        text-transform: uppercase;

        &:last-child {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }

  hr {
    background: rgba(255, 255, 255, 0.1);
  }
}
