//CHECKOUT
.billing-heading {
  font-size: 24px;
  font-weight: 500;
}

.billing-form,
.shipping-form {
  .form-row {
    &.form-row-wide:not(.col-md-12):nth-child(even),
    &.form-row-first {
      padding-right: 15px;
    }

    &.form-row-wide:not(.col-md-12):nth-child(odd),
    &.form-row-last {
      padding-left: 15px;
    }

    .woocommerce-input-wrapper {
      width: 100%;
    }
  }

  #billing_country_field,
  #shipping_country_field {
    display: none;
  }

  #billing_state_field,
  #shipping_state_field {
    .select2 {
      width: 100% !important;

      .select2-selection--single {
        font-weight: 300;
        border: transparent !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        height: 58px !important;
        padding-left: 15px;
        padding-right: 15px;
        background: transparent !important;
        color: rgba(0, 0, 0, 0.4) !important;
        font-size: 14px;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        display: flex;
        align-items: center;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }

  #billing_city,
  #shipping_city {
    &.home-state {
      border: none !important;
      padding: 0;
      font-size: 16px;
      color: #000 !important;
    }
  }

  .form-group {
    position: relative;
  }

  label {
    color: $black;
    font-size: 18px;
    font-weight: 500;
  }

  .icon {
    position: absolute;
    top: 50% !important;
    right: 15px;
    font-size: 14px;
    transform: translateY(-50%);

    span {
      color: rgba(0, 0, 0, 1) !important;
    }
  }

  .select-wrap,
  .input-wrap {
    position: relative;

    select {
      appearance: none;
    }
  }

  .form-control {
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 58px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none !important;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.4);
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.4);
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(0, 0, 0, 0.4);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0, 0, 0, 0.4);
    }

    &:focus,
    &:active {
      border-color: $primary !important;
    }
  }

  textarea.form-control {
    height: inherit !important;
  }
}

.checkout-review-order-wrapper {
  padding-left: 0;
}

.checkout-payment-wrapper {
  padding-right: 0;
}

.woocommerce-checkout-payment {
  height: 400px;
}

#payment {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0 !important;

  .payment_methods {
    border-bottom: none !important;
    padding: 0 15px !important;

    .wc_payment_method {
      .payment_box {
        display: none !important;
      }
    }
  }

  .place-order {
    padding: 0 !important;

    .woocommerce-terms-and-conditions-wrapper {
      .form-row {
        .woocommerce-form__label-for-checkbox {
          padding: 0 15px;
        }
      }

      .woocommerce-privacy-policy-text {
        display: none;
      }

      .form-row {
        padding: 0 !important;
      }
    }
  }
}

.woocommerce-account-fields {
  display: flex;
  flex-wrap: wrap;

  .create-account {
    margin: 0 10px 6px 0 !important;
  }
}

.cart-detail {
  width: 100%;
  display: block;

  .btn-primary {
    display: block;
    width: 100%;
  }
}
