.woocommerce-form-login {
  .login-form-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    label {
      display: block;
    }

    .form-row {
      max-width: 50%;
      width: 100%;
      display: block;

      .show-password-input {
        top: 0 !important;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .login-buttons-wrapper {
    display: flex;
    align-items: center;
  }
}

.woocommerce-MyAccount-navigation {
  width: 20% !important;

  ul {
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      .endpoint-icon {
        margin: 0 10px 0 0;
        max-width: 16px;
        width: 100%;
      }
    }
  }
}

.woocommerce-MyAccount-content {
  width: 80% !important;

  .woocommerce-Address-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .address-title {
      margin: 0 10px 0 0;
    }
  }

  label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
  }

  input {
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.1);
  }

  fieldset {
    label {
      width: 100%;
    }

    input[type="password"] {
      & + span {
        top: 0;
        bottom: 0;
        margin: auto;

        &::after {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .shop-block {
    padding: 0;
  }
}

.woocommerce-address-fields__field-wrapper {
  .form-row {
    padding-left: 0 !important;

    label {
      display: block;
      width: 100%;
      color: #000;
      font-size: 18px;
      font-weight: 500;
    }

    &.form-row-wide:not(.col-md-12):nth-child(even),
    &.form-row-first {
      padding-right: 15px;
    }

    &.form-row-wide:not(.col-md-12):nth-child(odd),
    &.form-row-last {
      padding-left: 15px;
    }

    .woocommerce-input-wrapper {
      display: flex;
      align-items: flex-end;
      width: 100%;

      input {
        border-radius: 0;
      }

      .select2 {
        width: 100% !important;

        .select2-selection--single {
          font-weight: 300;
          border: transparent !important;
          border: 1px solid rgba(0, 0, 0, 0.1) !important;
          height: 58px !important;
          padding-left: 15px;
          padding-right: 15px;
          background: transparent !important;
          color: rgba(0, 0, 0, 0.4) !important;
          font-size: 14px;
          border-radius: 0;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          display: flex;
          align-items: center;
        }

        .select2-selection__arrow {
          display: none;
        }
      }
    }
  }
}
