//PRODUCT DETAILS
.prod-img-bg {
  background: $white;
  -webkit-box-shadow: inset 0 0 101px 21px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0 0 101px 21px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 0 101px 21px rgba(0, 0, 0, 0.09);
  height: 100%;
  display: block;
}

.product-details {
  h3 {
    // text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
  }

  .sale,
  .seller,
  .new {
    font-size: 12px;
    padding: 0 10px;
    color: $white;
    display: inline-block;
  }

  .sale {
    background: $primary;
  }

  .seller {
    background: #fe9801;
  }

  .new {
    background: #01d28e;
  }

  .star-rating {
    height: 24px;
    line-height: 24px;

    span {
      &::before {
        color: #b7472a;
      }
    }
  }

  span.onsale {
    position: static;
    background: #b7472a;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    border-radius: 0;
  }

  .price {
    span {
      font-size: 30px;
      color: $black;
    }

    &.price-sale {
      span {
        color: lighten($black, 80%) !important;
        text-decoration: line-through;
      }
    }
  }

  .variations {
    td.label {
      label {
        margin: 0 5px 0 0;
      }
    }

    .reset_variations {
      margin: 0 0 0 5px;
    }
  }

  .single_variation_wrap {
    .woocommerce-variation-availability {
      div {
        padding: 0;
      }
    }

    .woocommerce-variation-price {
      .price {
        font-size: 30px;
        color: #000;
      }
    }

    .compare {
      display: block;
    }
  }

  button {
    i {
      color: $black;
    }
  }

  .quantity-left-minus {
    background: transparent;
    padding: 0 15px;
  }

  .quantity-right-plus {
    background: transparent;
    padding: 0 15px;
  }

  #quantity::-webkit-outer-spin-button,
  #quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input#quantity[type=number] {
    -moz-appearance: textfield;
  }

  .form-control {
    //
  }

  button,
  .form-control {
    height: 40px !important;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: $primary;
    padding: 10px 20px;
    background: transparent !important;

    @include border-radius(0);

    font-size: 14px;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  button.single_add_to_cart_button {
    height: auto !important;
    font-size: 15px;
    font-weight: normal;
    line-height: 22.5px;
  }

  .form-group {
    position: relative;

    .form-control {
      padding-right: 40px;
      color: $black;
      background: transparent !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lighten($black, 30%);
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: lighten($black, 30%);
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: lighten($black, 30%);
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: lighten($black, 30%);
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 14px;
      transform: translateY(-50%);
      color: $black;

      span {
        color: $black;
      }

      @include media-breakpoint-down(sm) {
        right: 10px;
      }
    }

    .select-wrap {
      position: relative;

      select {
        font-size: 13px;
        appearance: none;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

.nav-pills {
  width: 100%;
  display: block;

  p {
    margin-bottom: 0;
  }

  .nav-link {
    padding: 20px 30px !important;
    border-radius: 0;
    margin-bottom: 0;
    color: $black;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    // display: inline-block;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.05);
    // width: 33%;
    &::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      width: 0;
      content: '';
      height: 0;
      margin: 0 auto;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: $primary transparent transparent transparent;
      opacity: 0;
    }

    &:nth-child(odd) {
      // background: lighten($primary,4%);
    }

    @include border-radius(0);

    span {
      display: block;
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:hover {
      background: darken($primary, 5%);

      a {
        color: $white;
      }
    }

    &.active {
      // color: rgba(0,0,0,.7);
      a {
        color: $white;
      }

      @include transition(0.3s);

      border: 1px solid transparent;
      // background: rgba(255,255,255,1);
      background: $primary;

      &::after {
        opacity: 1;
      }

      @include media-breakpoint-down(sm) {
        &::after {
          opacity: 0;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;
      // width: 100%;
      margin-bottom: 5px;
    }
  }
}

.tab-content {
  // background: $white;
  @include border-radius(0);

  margin-top: 15px;
}

.review {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  float: left;

  .user-img {
    width: 80px;
    height: 80px;

    @include border-radius(50%);

    float: left;
  }

  .desc {
    width: calc(100% - 100px);
    float: right;

    h4 {
      width: 100%;
      margin-bottom: 10px;

      span {
        width: 49%;
        display: inline-block;

        &:first-child {
          font-size: 18px;
          font-weight: 400;
        }

        &:last-child {
          font-size: 14px;
          color: lighten($black, 70%);
          font-style: italic;
        }
      }
    }

    .star-rating {
      width: 100%;
      margin: 0 0 16px;
      color: #b7472a;
      font-size: 14px;

      .reply {
        padding: 2px 10px;
        background: lighten($black, 94%);

        @include border-radius(2px);

        i {
          color: lighten($black, 50%);
          font-size: 12px;
        }
      }
    }
  }
}

//.rating-wrap {
//  width: 100%;
//  display: block;
//
//  .star {
//    display: block;
//    width: 100%;
//
//    span {
//      display: inline-block;
//      color: lighten($black, 70%);
//
//      i {
//        color: $primary;
//        font-size: 14px;
//      }
//
//      &:first-child {
//        width: 62%;
//      }
//
//      &:last-child {
//        width: 32%;
//      }
//    }
//  }
//}

.nav-link-wrap {
  .woocommerce-tabs {
    .tab-wrap {
      padding: 0;
    }
  }
}

#reviews {
  .reviews-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .wc-comments-list,
    .wc-comments-form {
      display: inline-block;
      max-width: 48%;
      width: 100%;
    }

    .wc-comments-form {
      .comment-form-author {
        margin: 0 6px 0 0;
      }

      .comment-form-author,
      .comment-form-email {
        display: inline-block;
        max-width: 49%;

        input {
          max-width: 100%;
        }
      }

      .comment-form-author,
      .comment-form-email {
        label {
          width: 100%;
          display: block;
        }
      }

      .form-submit {
        #submit {
          &:hover {
            background-color: #b7472a;
            color: #fff;
          }
        }
      }
    }

    .commentlist {
      padding: 0;
    }
  }
}

/* WooCommerce 3.0 Gallery */

.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3em;

  figure {
    margin: 0;
  }

  .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
  }

  .flex-control-thumbs li {
    list-style: none;
    float: left;
    cursor: pointer;
  }

  .flex-control-thumbs img {
    opacity: 0.5;
  }

  .flex-control-thumbs img.flex-active,
  .flex-control-thumbs img:hover {
    opacity: 1;
  }

  .woocommerce-product-gallery img {
    display: block;
  }
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 33.3333%;
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 25%;
}

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%;
}

.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99;
}

a.woocommerce-product-gallery__trigger {
  text-decoration: none;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 0.875em;
  right: 0.875em;
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 3px;
  z-index: 99;
  text-align: center;
  text-indent: -999px;
  overflow: hidden;
  background-color: #169fda;
  color: #fff;

  &:hover {
    background-color: #1781ae;
    border-color: #1781ae;
    color: #fff;
  }

  &::before {
    font-family: 'FontAwesome', sans-serif;
    //font: normal normal normal ;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    content: "\f00e";
    line-height: 2;
    text-indent: 0;
  }
}

.product-gallery-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .thumbnail {
    margin: 2% 0.5% 0 0;
    max-width: 100px;
    cursor: pointer;
  }
}

.variations_form {
  .single_variation_wrap {
    .woocommerce-variation-add-to-cart {
      .stock-wrapper {
        display: none;
      }
    }
  }
}
