table.dataTable.compare-list {
  overflow-x: scroll;
}

table.dataTable.compare-list tbody tr td {
  text-decoration: none;
}

table.compare-list .add-to-cart td a:not(.unstyled_button) {
  background-color: transparent;
  color: #a23f25;
}

table.compare-list .add-to-cart:hover td a:not(.unstyled_button) {
  background-color: transparent;
  color: #fff;
}

table.compare-list .stock:hover td span {
  color: #fff;
}

table.dataTable.compare-list tbody tr:not(.remove):not(.image):hover td {
  background-color: #a23f25;
  color: #fff;
}

table.dataTable.compare-list tbody .price span.price-sale,
table.dataTable.compare-list tbody .price.repeated span.price-sale {
  color: #ccc !important;
  text-decoration: line-through;
}
