/*
Flaticon icon font: Flaticon
Creation date: 22/04/2020 06:21
*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src:
    url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff2") format("woff2"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi::before {
  display: inline-block;
  font-family: "Flaticon", sans-serif;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.flaticon-shopping-bag::before {
  content: "\f100";
}

.flaticon-support::before {
  content: "\f101";
}

.flaticon-cashback::before {
  content: "\f102";
}

.flaticon-free-delivery::before {
  content: "\f103";
}

.flaticon-heart::before {
  content: "\f104";
}

.flaticon-visibility::before {
  content: "\f105";
}

$font-Flaticon-shopping-bag: "\f100";
$font-Flaticon-support: "\f101";
$font-Flaticon-cashback: "\f102";
$font-Flaticon-free-delivery: "\f103";
$font-Flaticon-heart: "\f104";
$font-Flaticon-visibility: "\f105";
